@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* topo */

header{
    position: relative;
    display: flex;
    width: 100%;
}

header h1{
    position: absolute;
    right: 0;
}

header p{
    margin: 5px;
    font-size: 18px;
    margin-left: 20px;
}

/* form */

main{
    display: flex;
}

main section img{
    width:700px;
    margin-top: 40px;
}

main .selecao-form{
    margin-top: 35px;
}

main section div{
    margin: 30px;
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
}

main section div h1{
    font-size: 20px;
}

main section div p{
    font-size: 15px;
}

/* formulario */

form{
    width: 100%;
    text-align: center;
}

#info{
    display: none;
    border: 1px solid;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
}

#anunciarMenu{
    display: none;
    border: 1px solid;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
}

#reclamacaoMenu{
    display: none;
    border: 1px solid;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
}

form div{
    margin: 20px;
}

form div a h1, p{
    color: black;
}

form div p{
    margin: auto;
    position: relative;
    cursor: pointer;
    border: 1px solid;
    width: 100px;
    margin-top: 5px;
}

#email{
    display: none;
}

#menuZap1{
    display: none;
}

#email2{
    display: none;
}

#zap2{
    display: none;
}

#email3{
    display: none;
}

#zap3{
    display: none;
}

form input{
    width: 300px;
    outline: 0;
}

form input, textarea{
    display: block;
    margin: 0 auto;
}

form div textarea{
    min-width: 400px;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
    padding: 10px;
    outline: 0;
}